@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


body{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(99, 181, 236), rgb(119, 134, 167)) ;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    box-sizing: border-box;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.main{

    padding: 20px;
    border-style: single;
    border-radius: 16px;
    box-shadow: 10px 10px  rgb(92, 113, 114) ;
    background: linear-gradient(45deg, rgb(139, 235, 230),rgb(158, 158, 156)); 
    width: 700px;
    margin: 100px 0 0 400px;
    
}
.main div{
display: block;
padding: 10px;
margin: 10px;
}
.main label{
}
button{
    padding: 15px;
align-content: center;
background-color: rgb(158, 158, 121);
border-radius: 0 18px 0 20px;
}
.inputs input{
 width: 400px;
 padding: 20px;
 border-radius: 10px;
 border-bottom: rgb(211, 210, 210);
 align-items: center;
}
.check input{
    display: inline;
}
